/* define global variables */
:root{
  --html-bg-color: #e3e3e3;
  --wrapper-bg-color: #000;
  --btn-bg-color: #3e3e3e;
  --left-bg-color: rgba(167, 26, 85, 0.5);
  --mid-bg-color: rgba(233,233,233,0.3);
  --right-bg-color: rgba(233,233,233,0.3);
  --hover-width: 60%;
  --other-width: 20%;
  --speed: 600ms;
}

/* normalize */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, 
body{
  background: var(--html-bg-color);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-rendering: optimizeLegibility;
}

h1{
  position: absolute;
  color: #fff;
  font-size: 2rem;
  font-weight: 200;
  text-transform: uppercase;
  white-space: nowrap;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}

.button{
  position: absolute;
  color: #fff;
  font-size: 1rem;
  padding: 1rem;
  background: var(--btn-bg-color);
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
}

/* =============CSS Grid Layout============= */
.wrapper{
  width: 100%;
  height: 100vh;
  background-color: var(--wrapper-bg-color);
  display: grid;
  grid-template-areas: "left mid right";
  grid-template-columns: repeat(3, 1fr);
}
.hover-left{
  grid-template-columns: 60% 20% 20%;
}
.hover-mid{
  grid-template-columns: 20% 60% 20%;
}
.hover-right{
  grid-template-columns: 20% 20% 60%;
}

.split{
  position: relative;
  overflow: hidden;
}

.split.left{
  grid-area: "left";
  background: url("img/IMG_4326.JPG") center center no-repeat;
  background-size: cover;
}

.split.left,
.split.left:before{
  transition: 2000ms all ease-in-out;
}

.split.mid{
  grid-area: "mid";
  background: url("img/IMG_4380.JPG") center center no-repeat;
  background-size: cover;
}
.split.right{
  grid-area: "right";
  background: url("img/IMG_2452.JPG") center center no-repeat;
  background-size: cover;
}
